In [1]:
import sqlite3
from sqlite3 import Error

In [4]:
def db_connection():
    file_path = "./mulesoftDB.db"
    conn = None

    try:
        conn = sqlite3.connect(file_path)
        # print(sqlite3.version)
        return conn
    except Error as e:
        print(e)

    return conn

db_connection()

CREATE TABLE IF NOT EXISTS movies(
    m_id integer PRIMARY KEY AUTOINCREMENT,
    m_name text NOT NULL,
    m_dor text
);

CREATE TABLE IF NOT EXISTS movie_roles(
    r_id integer PRIMARY KEY,
    r_role text NOT NULL
);

CREATE TABLE IF NOT EXISTS movie_cast(
    c_id integer PRIMARY KEY AUTOINCREMENT,
    c_name text NOT NULL,
    c_role integer NOT NULL,
    FOREIGN KEY (c_role) REFERENCES movie_roles(r_id)
);

CREATE TABLE IF NOT EXISTS r_cast_movie(
    r_cid integer NOT NULL,
    r_mid integer NOT NULL,
    FOREIGN KEY (r_cid) REFERENCES movie_cast(c_id),
    FOREIGN KEY (r_mid) REFERENCES movie_cast(m_id)
);

In [7]:
def crea_table(conn, create_table_query):
    try:
        c =conn.cursor()
        c.execute(create_table_query)
    except Error as e:
        print(e)

In [20]:
conn = db_connection()

querry1 = """CREATE TABLE IF NOT EXISTS movies(
    m_id integer PRIMARY KEY AUTOINCREMENT,
    m_name text NOT NULL,
    m_dor text
);"""
querry2 = """CREATE TABLE IF NOT EXISTS movie_roles(
    r_id integer PRIMARY KEY AUTOINCREMENT,
    r_role text NOT NULL
);"""
querry3 = """CREATE TABLE IF NOT EXISTS movie_cast(
    c_id integer PRIMARY KEY AUTOINCREMENT,
    c_name text NOT NULL,
    c_role integer NOT NULL,
    FOREIGN KEY (c_role) REFERENCES movie_roles(r_id)
);"""
querry4 = """CREATE TABLE IF NOT EXISTS r_cast_movie(
    r_cid integer NOT NULL,
    r_mid integer NOT NULL,
    FOREIGN KEY (r_cid) REFERENCES movie_cast(c_id),
    FOREIGN KEY (r_mid) REFERENCES movie_cast(m_id)
);"""

if conn is not None:
    crea_table(conn,querry1)
    crea_table(conn,querry2)
    crea_table(conn,querry3)
    crea_table(conn,querry4)

else:
    print("Error")

In [21]:
def insert_movie(conn,movie_v):
    querry = """INSERT INTO movies (m_name,m_dor) VALUES (?,?)"""

    c = conn.cursor()
    c.execute(querry,movie_v)
    conn.commit()
    return c.lastrowid

In [23]:
def insert_cast(conn, cast_v):
    querry = """INSERT INTO movies_cast (c_name,c_roll) VALUES (?,?)"""

    c = conn.cursor()
    c.execute(querry, cast_v)
    conn.commit()
    return c.lastrowid

In [22]:
def insert_movie_roles(conn):
    querry = """INSERT INTO movie_roles VALUES (?,?);"""
    role_1 = (1, 'Actor')
    role_2 = (2, 'Actress')
    role_3 = (3, 'Director')
    c= conn.cursor()
    c.execute(querry,role_1)
    c.execute(querry,role_2)
    c.execute(querry,role_3)
    conn.commit()
    return

insert_movie_roles(conn)

while adding a movie 

name 
yeah / date

cast: 
lead actors and actreses :::list -> split(,) -> loop for acters and actress 
director

In [13]:
movie = ('The Avengers','2012-04-27')
moive_id = insert_movie(conn,movie)